BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "p1[0]" SITE "B4" ;
LOCATE COMP "p1[1]" SITE "B5" ;
LOCATE COMP "p1[2]" SITE "B6" ;
LOCATE COMP "reset_n" SITE "B7" ;
LOCATE COMP "p2[0]" SITE "B9" ;
LOCATE COMP "p2[1]" SITE "F7" ;
LOCATE COMP "p2[2]" SITE "C4" ;
LOCATE COMP "segments_out[0]" SITE "C2" ;
LOCATE COMP "segments_out[1]" SITE "G3" ;
LOCATE COMP "segments_out[2]" SITE "D3" ;
LOCATE COMP "segments_out[3]" SITE "F3" ;
LOCATE COMP "segments_out[4]" SITE "B1" ;
LOCATE COMP "segments_out[5]" SITE "E3" ;
LOCATE COMP "segments_out[6]" SITE "F5" ;
LOCATE COMP "state[0]" SITE "C7" ;
LOCATE COMP "state[1]" SITE "D7" ;
LOCATE COMP "state[2]" SITE "D10" ;
IOBUF PORT "segments_out[0]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "segments_out[1]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "segments_out[2]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "segments_out[3]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "segments_out[4]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "segments_out[5]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "segments_out[6]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "state[0]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "state[1]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "state[2]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "p1[0]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "p1[1]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "p1[2]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "p2[0]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "p2[1]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "p2[2]" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "reset_n" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
